

/** Chiclet chart colors **/
#chiclet-chart  tr:nth-child(odd) td.empty,
#chiclet-chart  tr:nth-child(odd) td.workflow-name {
    background-color: #fdfcf5;
}

#chiclet-chart tr td{
    border-bottom:none;
	border-top:none;

}

#chiclet-chart td.workflow-name {
    font-weight: bold;
}


#chiclet-chart > tr.selected:nth-child(odd) > td{
    background-color: #cbb765;
	border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

}

#chiclet-chart > tr.selected:nth-child(even) > td{
    background-color: #DED29E;
	border-top: 2px solid #000000;
    border-bottom: 2px solid #000000;

}

#chiclet-chart tr.selected:hover td{
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
	background-color: #e7de8c;

}

#chiclet-chart tr:hover td{
    border-top: 1px dashed #000000;
    border-bottom: 1px dashed #000000;
	background-color: #e7de8c;

}


#chiclet-chart td.completed {
    background-color: #BFFEBF;

}
#chiclet-chart tr:hover td.completed {
    background-color: #80FE80;

}
#chiclet-chart tr.selected td.completed{
    background-color: #00CC00;
}
#chiclet-chart tr.selected:hover td.completed{
    background-color: #008E00;
}

#chiclet-chart td.open {
    background-color: #fdff8c;
}
#chiclet-chart tr:hover td.open {
    background-color: #fdff73;

}
#chiclet-chart tr.selected td.open{
    background-color: #FFFF00;
}
#chiclet-chart tr.selected:hover td.open{
    background-color: #B2B300;
}

#chiclet-chart td.planned {
    background-color: #BFCFFE;

}
#chiclet-chart tr:hover td.planned {
    background-color: #809FFE;

}
#chiclet-chart tr.selected td.planned{
    background-color: #0033CC;
}
#chiclet-chart tr.selected:hover td.planned{
    background-color: #00248E;
}


#chiclet-chart td.precluded {
    background-color: #BFCFFE;

}
#chiclet-chart tr:hover td.precluded {
    background-color: #000000;

}
#chiclet-chart tr.selected td.precluded{
    background-color: #000000;
}
#chiclet-chart tr.selected:hover td.precluded{
    background-color: #000000;
}

#chiclet-chart td.contingent{
    background-color: #bbbbbb;
}

#chiclet-chart tr:hover td.contingent {
    background-color: #949494;

}
#chiclet-chart tr.selected td.contingent{
    background-color: #808080;
}
#chiclet-chart tr.selected:hover td.contingent{
    background-color: #595959;
}



.details-drop tr.accordion-toggle.odd{ 
    background-color: #f9f9f9;
}

.hiddenRow {
    padding: 0 !important;
    margin:  0 !important;
    border-bottom: 0;
    border-top: 0;
}

dl.name-value-pair dt:after {
    content:":";
}
dl.name-value-pair dt {
    float: left;
}

dl.name-value-pair dd {
    float: left;
}
dl.name-value-pair dd {
    margin-left: 5px
}
dl.name-value-pair {
    margin-left: 20px;
    border: 1px solid transparent;
}

.hiddenLabel {
    visibility: hidden;


}

th {
    background-color: #dfeffc;
    border: 1px solid #dfeffc;
    padding: 3px;
    vertical-align: top;
    text-align: left;
}

caption{
  border: 1px solid #fff;
  color: #2e6e9e;
}

caption {
  background: #dfeffc;
  font-weight: bold;
  font-size: 2.1em;
  text-align: left;
  margin-left: -1px; /* Fix FF 1px issue */
}

.detailsTable td{
    vertical-align: top;
    padding: 15px;


}

.completeTask{
    position:absolute;
    top:0;
    right:0;
}

.collapse{
    position: relative;
}

